@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300..700&display=swap');


:root {

    --black: #000000;
    --bone: #f0eff4;
    --grey: #333;
    --gold: #ffcc00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    background-color: var(--grey);
    color: var(--bone);
    padding-top: 10rem;
    gap: 5rem;
    min-height: 200vh;
}


#main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0rem 4rem;
    height: 50px;
    gap: 2rem;
    top: 0;
    border-top: 2px groove var(--gold);
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.7));
    box-shadow: 0px 24px 34px 0px rgba(0, 0, 0, 1);
    backdrop-filter: blur(2px);
}

#main-header img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
}

#main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 2rem;
    font-size: 1rem;
}

#main-nav a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.25rem 0.35rem;
    color: var(--bone);
    font-weight: 300;
}

#main-nav a:hover {
    color: var(--grey);
    background-color: var(--gold);
    border-radius: 0.25rem;
}

#main-nav a.active {
    color: var(--bone);
    background-color: var(--gold);
    border-radius: 0.25rem;
}

#main-nav a:active {
    color: var(--bone);
    background-color: var(--gold);
    border-radius: 0.25rem;
}

#main {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 3rem;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.5rem;
}

.hero h1 {
    text-transform: capitalize;
    font-size: 3rem;
}

.hero p {
    line-height: 2rem;
}

.hero .btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.hero a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 01rem;
    font-weight: 600;
}

.hero .btn-call {
    color: var(--bone);
    padding: 0.75rem;
    background-color: var(--gold);
    border-radius: 0.5rem;
}

.hero .btn-call:hover {
    box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
}

.hero .btn-more {
    color: var(--grey);
    padding: 0.75rem;
    background-color: var(--bone);
    border-radius: 0.5rem;
}

.hero .btn-more:hover {
    box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
}

.card {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70%;
    padding: 2rem;
    border-top: 1px ridge var(--gold);
    border-bottom: 1px ridge var(--gold);
}

.about p {
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}